/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#card-number {
    border: 1px solid #aaa;
    /*box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;*/
    border-radius: 2px;
    height: 20px;
    width: 220px;
    float: left;
    position: relative;
}

#cvv {
    border: 1px solid #aaa;
    /*box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;*/
    border-radius: 2px;
    height: 20px;
    width: 220px;
    float: left;
    position: relative;
}

#expiration-date {
    border: 1px solid #aaa;
    /*box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;*/
    border-radius: 2px;
    height: 20px;
    width: 220px;
    float: left;
    position: relative;
}

*:focus {
    outline: none;
}

body {
    /*font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;*/
}

.contact_form h2, .contact_form label {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.form_hint, .required_notification {
    font-size: 11px;
}

.customer_form ul {
    width: 550px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.customer_form li {
    padding: 12px;
    border-bottom: 1px solid #eee;
    position: relative;
    float: left;
}

.customer_form li:first-child, .contact_form li:last-child {
    border-bottom: 1px solid #777;
    width: 392px;
}

.customer_form h2 {
    margin: 0;
    display: inline;
}

.required_notification {
    color: #d45252;
    margin: 5px 0 0 0;
    display: inline;
    float: right;
}

.customer_form label {
    width: 150px;
    margin-top: 3px;
    display: inline-block;
    float: left;
    padding: 3px;
}

.customer_form input{
    height: 20px;
    width: 220px;
    padding: 5px 8px;
}

.customer_form .hosted {
    height: 20px;
    width: 220px;
    padding: 2px 8px;
}

.customer_form textarea {
    padding: 8px;
    width: 300px;
}

.customer_form button {
    margin-left: 156px;
}

.customer_form input, .customer_form textarea, .customer_form .hosted {
    border: 1px solid #aaa;
    /*box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;*/
    border-radius: 2px;
}


#card-number.braintree-hosted-fields-focused {
    background: #fff;
    border: 1px solid #555;
}

#cvv.braintree-hosted-fields-focused {
    background: #fff;
    border: 1px solid #555;

}

#expiration-date.braintree-hosted-fields-focused {
    background: #fff;
    border: 1px solid #555;

}

.customer_form input:focus, .customer_form textarea:focus ,.customer_form .hosted{
    background: #fff;
    border: 1px solid #555;

}

/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}

button.submit:hover {
    opacity: .85;
    cursor: pointer;
}

button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow: 0 0 10px 5px #356b0b inset;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}

.colunas {
    margin: 0 20%;
    float: left;

}

.responsefields{
    margin-top: 5px;
    padding-left: 5px;
    position: relative;
    float: left;
}
